# IDEs
/.idea
/.project
/nbproject
/.buildpath
/.settings
*.sublime-*
*.AppleDouble
*.AppleDB
*.AppleDesktop


# OS
.DS_Store

# grunt stuff
.grunt
.sass-cache
/node_modules/
/tests/_output/*
tests/SprykerSdkTest/Zed/ComposerReplace/_support/_generated/*
!/tests/_data/fixtures/*
!/tests/_output/.gitkeep

/vendor/
composer.lock
